<div class="row">
	<div class="col-mid-12">
		<p>Please enter 4 numbers in the fields below. This is the secret code.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-1">
		<input type="text" class="form-control">
	</div>
	<div class="col-md-1">
		<input type="text" class="form-control">
	</div>
	<div class="col-md-1">
		<input type="text" class="form-control">
	</div>
	<div class="col-md-1">
		<input type="text" class="form-control">
	</div>
	<button type="button" class="btn btn-success">Submit!</button>
</div>